<%- include("partials/header") %>

<p>Campgrounds Page</p>

<button><a href="/">Back to Landing Page</a></button>

<br>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<%- include("partials/footer") %>